body{
    background-color: #f9f9f9;
    display: block;
}
.div_entête{
    display: flex;
    gap: 50px;
    margin-left: 5px;
    background-color: #083B32;
 }

 .img_logo{
    width: 200px;
    height: 80px;
    margin-top: 18px;
} 

.bouton{
    list-style-type: none; /* pour supprimer les puces de la liste */
    display: inline-block;  /* pour aligner les boutons horizontalement */
    width: 150px;
    height: 80px;
    font-size: 30px;
    padding-top: 20px;
    margin-left: 10px;

} 
.bouton:hover a{
    color: black;
    transition: 0.5s;
}
a{
    text-decoration: none; /*pour enlever les texte soulignés des bouton*/
    color: blue;
    padding: 10px;
}
.div_barre_recherche{
margin-top: 40px;
margin-left: 50px;
font-size: 20px;
}
.div_footer{
   display: flex;
   flex-wrap: wrap;
   gap: 100px;
   background-color: rgb(149, 149, 250);
   padding: 10px;
}
.logo_footer{
    width: 100px;
    height: 50px;
    border-radius: 50px;
    margin: 20px 100px;
   
}



/*Mise en forme des sections*/
*{
  box-sizing: border-box;
}
.sect1{
    display: flex;
    height: 500px;
    border: 2px solid goldenrod;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    margin: 2px 2px 2px 2px;
}
.presentation
{
  border: 1px solid red;
  float: left;
  width: 45%;
  margin-left:5px;
  margin-top:10px;
  padding-left: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.presentationG
{
  border: 1px solid red;
  float: left;
  width: 54%;

  margin-left:17px;
  margin-top:10px;
  padding-left: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.secGroup
{
    margin-left: 10px;
    height: 500px; ;
    width: 100%;
}

/* mise en forme du bloc des membres*/


/* mise en forme du footer*/
.div_footer{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    background-color: green;
    padding: 10px;
 }
 .logo_footer{
     width: 100px;
     height: 50px;
     border-radius: 50px;
     margin: 20px 100px;
    
 }
/*ICI commence la mise en forme du formulaie*/

.divForm
{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    background-color:gray;
    font-size: 25px;
    height: 680px;
    width: 100%;
    border: 1px solid blue;
}
 .ma{
    color: blue;
    font-size: 30px;
    padding: 10px;
    margin-top: 25px;
    color: blue;
}
input{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
    
}



/*ICI commence la mise en forme du cv de Marième*/
#page {
    width: 70%;
    height: auto;
    background: whitesmoke;
    margin: 50px auto;
    padding: 100px;
    padding-top: 0;
    color: #27aae1;
}

#header {
    display: flex;
}


.photo {
    width: 200px;
    height: 300px;
    float: left;
    margin-right:10px;
    margin-top: 20px;
}

.contact {
    width: 70.9%;
    display: inline-block;
    font-size: 35px;
}
.metier{
    display: inline-block;
    width: 100%;
}
.photo {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.contact-details {
    background: #27aae1;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    padding: 5px;
    font-size: 20px;
}
#profil h3{
    color: #27aae1;
}
#profil{
    font-size: 25px;
    border: 1px solid #d3d3d3;
    padding: 5px;
    margin: 30px 0 10px;
    color: #000;
}

#education h3{
    color: #27aae1;
}
#education {
    font-size: 25px;
    border: 1px solid #d3d3d3;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
    color: #000;
}
#header2{
    display: flex;
}
#competence h3{
    color: #27aae1;
    font-size: 25px;
}
#competence table{
    color:black;
    font-size: 25px;
    }

#bio{
    color: #000;
    float: right;
    font-size: 25px;
    margin-top: 70px;
}
ul{
    font-size: 25px;
    color: #000;
}



/* CV de Cheikh*/
*{
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Roboto;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
  }
  
  a{
    text-decoration: none;
    color: #4472C4;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  p{
    margin: 0 0 1rem;
  }
  
  h1{
    margin: 0 0 1rem;
    font-size: 2.5rem;
    margin-bottom: .5rem;
  }
  
  h2{
    margin: 0 0 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .text-blue{
    color: #4472C4;
  }
  
  .text-darkblue{
    color: #002060;
  }
  
  .text-uppercase{
    text-transform: uppercase; 
  }
  
  .icon{
    margin-right: .5rem;
  }
  
  .cv-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-column right-column right-column";
    width: 1200px;
    margin: 100px auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .section{
    margin-bottom: 1.5rem;
  }
  
  /* LEFT COLUMN */
  .left-column{
    grid-area: left-column;
    padding: 50px;
    background-color: #4472C4;
    color: white;
  }
  
  .portait{
    border-radius: 50%;
    max-width: 150px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }
  
  .skills{
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin: 0 0 1rem;
  }
  
  /* RIGHT COLUMN */
  .right-column{
    grid-area: right-column;
    display: grid;
    grid-template-rows: 250px 1fr;
    grid-template-areas: 
      "header"
      "content";
  }
  
  /* HEADER */
  .header{
    grid-area: header;
    padding: 50px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .infos{
    columns: 2;
    list-style-type: none;
    padding: 0;
  }
  
  /* CONTENT */
  .content{
    grid-area: content;
    padding: 50px;
  }
  
  .experience-list{
    list-style-type: circle;
  }

  .hed
{
    
    background-color: rgb(3, 63, 3);
    height: 130px;
    width: 100%;
   border-radius: 20px;
   border-bottom: 10px solid whitesmoke;
   margin-bottom: 5px;
}
#list
{
    display: flex;
    float: right;
    margin-top: -35px;
    margin-right: 5px;
    margin-left: 6px;
    background-color: rgb(3, 63, 3);
    padding: 15px;
    border-radius: 20px;
    width: 20%;
    height: 27px;

}
#list li 
{
    display: block;
    margin: 10px;
    margin-bottom: -10px;
    margin-top: -15px;
    height: 30px;
    width: 73.3px;
    border-radius: 20px;
    text-align: center;padding-top: 1px;
}

#list li a
{
    
    font-size: 16px;
    font-weight: bolder;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

#list li:hover
{
    background-color: #738b08dc;

}

.cv
{
    display: flex;
}

.sous
{
    display: block;
    background: transparent;
    color: white;
}

.seach
{
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 15px;
    border: 10px;
}

img{
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 7px;

}


/*Presentation de la formation et des menbres */

}
.sectParent{
    display: flex;
    height: 850px;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 100%;
    background-color: transparent;
    margin: 2px 2px 2px 2px;
}
.presentation
{
  border: 1px solid transparent;
  float: left;
  width: 27%;
  margin-left:8px;
  margin-top:10px;
  padding-left: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 810px;
  background-color: #083B32;
}
.presentation {
  color: white;
}

.presentationG
{
    display: block;
  border: 1px solid transparent;
  float: left;
  width: 68.5%;
  margin-left:10px;
  margin-top:10px;
  padding-left: 10px;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 832px;
  background: transparent;
}

.section
{
  
  display: flex;
  justify-content:space-between;
  padding: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 15px;
  width: 94.7%;
  margin:0rem auto 0 auto;
  margin-left:1px;
  background: #083B32;
  height: 180px;
  margin-bottom: 10px;
}

.section img
{
 height: 170px;
 width: 310px;
 border-radius: 115px;
}
.section h1
{
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
    
}

.section p
{
  margin-right: 10px;
  color: white;
    font-size: 12px;
    font-style: normal;
    
}



.foot{
    height: 160px;
    width: 100%;
    border-radius-top: 10px solid red;
    padding: 15px;
    margin-top: 10px;
    display: flex;
    border-radius: 20px;
    background: #083B32;
}


.b{
    display: block;
    margin: 10px;
    margin-bottom: -10px;
    margin-top: 0px;
    margin-right: 70px ;
    height: 95px;
    width: 50%;
    border-radius: 20px;
    text-align: center;padding-top: 1px;
    background:red;
 }

 .b1{
    display: block;
    margin: 10px;
    margin-bottom: -10px;
    margin-top: 0px;
    margin-right: 70px ;
    height: 150px;
    width: 50%;
    border-radius: 20px;
    text-align: center;padding-top: 1px;
    background:red;
 }

 
		td,th { padding:1em; }
		thead { background-color : #557CBA; }
		tbody { background-color : #CED4E5; }
		tfoot { background-color : red;     }
	.portrait
    {
        height: 30px;
        width: 30px;
    }