*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: 0px;
}
body
{
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    background-image: url(Arplan3.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-repeat: repeat-y;
    color: white;
    size: 17px;
    font-weight: bold;
   
}



.hed
{
    
    background-color: rgb(3, 63, 3);
    height: 130px;
    width: 100%;
   border-radius: 20px;
   border-bottom: 10px solid whitesmoke;
   margin-bottom: 0px;
}
#list
{
    display: flex;
    float: right;
    margin-top: -35px;
    margin-right: 5px;
    margin-left: 6px;
    background-color: rgb(3, 63, 3);
    padding: 15px;
    border-radius: 20px;
    width: 20%;
    height: 27px;

}
#list li 
{
    display: block;
    margin: 10px;
    margin-bottom: -10px;
    margin-top: -15px;
    height: 30px;
    width: 73.3px;
    border-radius: 20px;
    text-align: center;padding-top: 1px;
}

#list li a
{
    
    font-size: 16px;
    font-weight: bolder;
    font-style: normal;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

#list li:hover
{
    background-color: #738b08dc;

}

.cv
{
    display: flex;
}

.sous
{
    display: block;
    background: transparent;
    color: white;
    text-decoration: none;
}

.seach
{
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 15px;
    border: 10px;
}

img{
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 7px;

}
.sec1
{
    display: flex;
  background-color:transparent;
    height:30%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px solid rgb(228, 212, 218);
    border-bottom: 10px solid whitesmoke;
    margin-left: 30px;
    margin-top: -20px;
    
}

.bl
{
    
    height: 500px;
    width: 60%;
    border-radius: 20px;
    background: transparent;
    display: table-cell;  
    text-align: center;
    vertical-align: middle; 
    border-left: 5px solid rgba(214, 205, 205, 0.103);
    border-right: 12px solid rgba(238, 224, 225, 0.164);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;

}
.blPres
{
   
    height: 98%;
    width: 98%;
    border-radius: 20px;
    text-align: left;
    background: rgb(75, 3, 3);
    padding: 10px 10px 10px 10px;

}

.blo
{
    height: 98%;
    width: 98%;
    background: rgb(75, 3, 3);
    padding: 10px 10px 10px 10px;
}

.tof
{
    height: 58px;
    width: 57px;
}
.seach
{
    float: right;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 15px;
    border: 10px;
    height: 500px;
}

#box{
  width:330px;
  margin:20px auto;
  padding-top:5px;
  font-family: serif;
  height: 200px;
  background: transparent;
  display:flex;
  
}
#form{
  display: block;
  border-radius:2px;
  padding:2px 4px;
  box-shadow:0 0 15px;
  font-size:14px;
  font-weight:bold;
  width:60%;
  margin:5px 5px 0 2px;
  margin-right: 100px;
  float:left;
  height:230px
   ;
}
h3{
  text-align:center;
  font-size:20px;
}
input{
  width:50%;
  height:25px;
  margin-top:5px;
  margin-bottom: 20px;
  border:1px solid #999;
  border-radius:3px;
  padding:5px;
}
input[type=submit]{
  background-color:#ca1e1e;
  border:1px solid white;
  font-family: serif;
  font-Weight:bold;
  font-size:18px;
  color:white;
}
textarea{
  width:50%;
  height:40px;
  margin-top:5px;
  border-radius:3px;
  padding:5px;
  resize:none;
}
span{
  color:red
}
.successMessage{
    background-color: #7acc7d;
    border: #2b5a2d 1px solid;
    padding: 5px 9px;
    color: #262b26;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}
.errorMessage{
    background-color: #e64141;
    border: #da1414 1px solid;
    padding: 5px 10px;
    color: #fdf7f7;
    border-radius: 4px;
}
.info{
    font-size: 0.9em;
    color: #d67262;
    letter-spacing: 2px;
    padding-left: 5px;
}



.sect2
{
    display: flex;
   /* background-color:rgb(69, 218, 32);*/
    height:337px;
    width: 100%;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px solid none;
    border-bottom: 10px solid whitesmoke;
}



.wrapper {
    width: 800px;
   margin: 0 auto;
   margin-top: 5px;
    background-color:transparent;
    

 }
 
 .container {
    position: relative;
    top: 0;
    left: 0;
    width: 800px;
    height: 300px;
    margin: 0;
    padding: 0;
    background: #282929;
    box-shadow: 0px 0px 40px rgba(0,0,0,0.6);
    border: 1px solid #fff;
 }

 #start {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 1;
    font-size: 75px;
    background:-webkit-linear-gradient(#00aff9,#0086c3);
    background: linear-gradient(#00aff9,#0086c3);
    color: #342c2a; 
    -webkit-animation: slide 1.5s ease-in-out forwards;
	   animation: slide 1.5s ease-in-out forwards;
}

#slide1, #slide2, #slide3, #slider4 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    background:-webkit-linear-gradient(#00aff9,#0086c3);
    background: linear-gradient(#00aff9,#0086c3);
    color: #342c2a; 
    font-size: 75px;
}


    #start img, #slide1 img, #slide2 img, #slide3 img, #slide4 img {
    text-align: center;
    margin: 0;
    height: 300px;
    width: 800px;
}
     

.navigation {
    position: absolute;
    bottom: 0px;
    left: -140px;
    margin: 0;
    
 }
 
 li{
   color: transparent;
 }

 .btn {
    float: left;
    margin: 6px;
    width: 120px;
    height: 63px;
    text-align: center;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    -webkit-transition: 0.1s ease-in;
            transition: 0.1s ease-in;
}

.btn a img {
    display: block; 
    text-decoration: none;
    height: 63px;
    width: 120px;
    letter-spacing: 2px;
    font-size: 12px;
}
.btn:hover {
    -webkit-transition: 0.1s ease-in;
            transition: 0.1s ease-in;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
     background: #00aff9;

}

#slide1:target, 
#slide2:target, 
#slide3:target, 
#slide4:target {
	 font-size: 75px; opacity: 1;
}
.foot{
    height: 160px;
    width: 100%;
    border-radius-top: 10px;
    padding: 15px;
    margin-top: 10px;
    display: flex;
    border-radius: 20px;
    background: rgb(3, 63, 3);
}


.b{
    display: block;
    margin: 10px;
    margin-bottom: -10px;
    margin-top: 0px;
    margin-right: 70px ;
    height: 95px;
    width: 50%;
    border-radius: 20px;
    text-align: center;padding-top: 1px;
    background:red;
 }

 .b1{
    display: block;
    margin: 10px;
    margin-bottom: -10px;
    margin-top: 0px;
    margin-right: 70px ;
    height: 150px;
    width: 50%;
    border-radius: 20px;
    text-align: center;padding-top: 1px;
    background:red;
 }

 /* Je commencd la mise en forme de la page contact*/
