html {
    background-color: #e7b512;
}

body {
    width: 100%;
    padding: 0%;
    margin: 0%;
}

/* entête*/
header {
    width: 100%;
    height: 80px;
    display: flex;
    gap: 10%;
    background-color: black;
    padding-top: 0%;
    margin-top: 0%;
}

.img_logo {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
}

.bouton {
    width: 20%;
    height: 80px;
    padding-top: 0%;
    display: inline-block;
    /* pour aligner les boutons horizontalement */
    font-size: 100%;
    padding-inline-end: 30px;
}

.bouton:hover {
    transition: 0.5s;
    background-color: #e7b512;
}

a {
    text-decoration: none;
    /*pour enlever les texte soulignés des bouton*/
    color: white;
    margin-top: 30px;
}

.select_cv {
    border: 0;
    /* pour enlever la bordure de la balise select */
    font-size: 90%;
    color: white;
    background-color: black;

}

.select_cv:hover {
    transition: 0.5s;
    background-color: #e7b512;
}

/*main accueil*/
.presentation {
    float: left;
    width: 27%;
    height: 300px;
    padding-left: 2%;
    padding-top: 5%;
    margin: 10% 5%;
    background-color: #c79c0f;
    border-radius: 10px;
    font-size: 100%;
}

.presentationG {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 5%;
    background-color: #c79c0f;
    border-radius: 10px;
}

.membre {
    width: 44%;
    height: 180px;
    display: flex;
    background-color: #a3800d;
    border-radius: 10px;
    margin: 20px 20px;
}

.membre img {
    width: 40%;
    height: 100%;
    border-radius: 10px;
}

.membre p {
    text-align: center;
    font-size: 20px;
}
/* Responsive de main 1041px */
@media screen and (max-width:1041px) {
    .membre {
        width: 40%;
    }
    .div_footer{
        padding: 0px;
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;    
        font-size: 80%;
     }
}
/* Responsive de  937px */
@media screen and (max-width:937px) {
    .img_logo {
        margin-top: 10%;
    }

    .bouton {
        width: 80px;
        height: 50px;
        font-size: 25px;
    }

    .select_cv {
        font-size: 20px;
    } 
    .presentationG {
        width: 50%;
        margin-top: 8%;
    }

    .membre {
        width: 100%;
    }

    .membre p {
        font-size: 100%;
    }

    .presentation {
        width: 30%;
        margin-top: 8%;
    }  
  
}

/* CV Aicha*/
#div_cv_Aicha {
    width: 60%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    background-color: #eff1f1;
    margin: 20px 250px;
    border-radius: 10px;
}

.sous_div_cv_Aicha {
    width: 700px;
    margin: 20px 30px;
    text-align: center;

}

.sous_div_cv_Aicha1 {
    width: 700px;
    display: inline-flex;
    gap: 30px;
    margin: 20px 30px;
}

.img_Aicha1 {
    width: 230px;
    height: 200px;
    margin-left: 10px;
    border-radius: 10px;
}

th,
td {
    border: 2px solid black;
}

/* CV cheikh*/
.cv-container div img {
    width: 230px;
    height: 200px;
}

/* CV mariéme*/

#page {
    width: 70%;
    height: auto;
    background: whitesmoke;
    margin: 50px auto;
    padding: 100px;
    padding-top: 0;
    color: #27aae1;
}

#header {
    display: flex;
}


.photo {
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}

.contact {
    width: 70.9%;
    display: inline-block;
    font-size: 35px;
}

.metier {
    display: inline-block;
    width: 100%;
}

.photo {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.contact-details {
    background: #27aae1;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    padding: 5px;
    font-size: 20px;
}

#profil h3 {
    color: #27aae1;
}

#profil {
    font-size: 25px;
    border: 1px solid #d3d3d3;
    padding: 5px;
    margin: 30px 0 10px;
    color: #000;
}

#education h3 {
    color: #27aae1;
}

#education {
    font-size: 25px;
    border: 1px solid #d3d3d3;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
    color: #000;
}

#header2 {
    display: flex;
}

#competence h3 {
    color: #27aae1;
    font-size: 25px;
}

#competence table {
    color: black;
    font-size: 25px;
}

#bio {
    color: #000;
    float: right;
    font-size: 25px;
    margin-top: 70px;
}

ul {
    font-size: 25px;
    color: #000;
}


/*formulaire de contacte*/
.div_form {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    margin: 1% 25%;
    font-size: 30px;
    background-color: #c79c0f;
    border-radius: 10px;
}

input {
    font-size: 20px;
}

button {
    font-size: 25px;
    background-color: #a3800d;
    border: 3px solid black;
}

/* pied de page*/
.div_footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    padding: 10px;
    background-color: black;
    color: white;
}
.div_footer div{
    width: 20%;
    padding: 10px;
    font-size: 100%;
}

.logo_footer {
    width: 50%;
    height: 30%;
    border-radius: 10px;
    margin: 2% 4%;

}